<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>.</title>
  <style>
    dfn {
      font-style: italic;
    }
  </style>
</head>

<%
  require 'yaml'
  require 'time'
  meta = YAML.load_file "#{ENV['src']}/meta.yaml"
%>

<body>

<dl>
  <dt><dfn>Initial epub release</dfn></dt>
  <dd><%= meta['first_rel'] %></dd>

  <dt><dfn>Latest update</dfn></dt>
  <dd><%= DateTime.now.to_time.utc.iso8601 %></dd>

  <dt><dfn>Rights</dfn></dt>
  <dd><%= meta['rights'] %></dd>

  <dt><dfn>Repository</dfn></dt>
  <dd><a href='<%= meta['repo'] %>'><%= meta['repo'] %></a></dd>
</dl>

</body>
</html>
