<?xml version="1.0" encoding="UTF-8"?>
<package version="3.0" xmlns="http://www.idpf.org/2007/opf"
         unique-identifier="bookid">
  <%
  require 'yaml'
  require 'nokogiri'
  require 'time'
  mime = {
    '.xhtml' => 'application/xhtml+xml',
    '.css' => 'text/css',
    '.svg' => 'image/svg+xml',
    '.png' => 'image/png',
    '.jpg' => 'image/jpeg',
  }

  meta = YAML.load_file "#{ENV['src']}/meta.yaml"
  doc = Nokogiri::XML File.read "#{ENV['src']}/book.xhtml"
  %>

  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:title><%= meta['title'] %></dc:title>
    <dc:creator id="author"><%= meta['creator']['name'] %></dc:creator>
    <dc:language><%= meta['language'] %></dc:language>
    <dc:identifier id="bookid">urn:uuid:<%= meta['id'] %></dc:identifier>
    <dc:publisher><%= meta['publisher'] %></dc:publisher>
    <dc:rights><%= meta['rights'] %></dc:rights>

    <% meta['contributors'].each do |v| %>
    <dc:contributor><%= v %></dc:contributor>
    <% end %>

    <meta property="dcterms:modified"><%= DateTime.now.to_time.utc.iso8601 %></meta>
    <meta refines="#author" property="file-as"><%= meta['creator']['file-as'] %></meta>
  </metadata>

  <manifest>
    <item id="nav" href="nav.xhtml" media-type="application/xhtml+xml" properties="nav"/>
    <item id="cover_xhtml" href="cover.xhtml" media-type="application/xhtml+xml" />
    <item id="cover_png" href="cover.png" media-type="image/png" properties="cover-image"/>
    <item id="book" href="book.xhtml" media-type="application/xhtml+xml" />
    <item id="colophon" href="colophon.xhtml" media-type="application/xhtml+xml" />
    <% Dir.glob(["#{ENV['out']}/*.{jpg,css}", "#{ENV['out']}/drawings/*"]).each_with_index do |v, idx| %>
    <item id="file<%= idx %>" href="<%= v.sub("#{ENV['out']}/", "") %>" media-type="<%= mime[File.extname v] %>" />
    <% end %>
  </manifest>

  <spine>
    <itemref idref="cover_xhtml" />
    <itemref idref="nav" />
    <itemref idref="colophon" />
    <itemref idref="book" />
  </spine>
</package>
