.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dropcap {
  font-variant: small-caps;
  font-size: 120%;
}

h1 {
  page-break-before: always;
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0;
  font-size: 1.5em;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
}

blockquote > h3 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
}

.unhyp {
  font-weight: bold;
}

p {
  text-align: justify;
}

p:not([class]) {
  margin: 0;
  padding: 0;
}

p:not([class]) + p:not([class]),
table + p:not([class]),
img + p:not([class]) {
  text-indent: 2em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  margin: 1em 0 1em 2.5em;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

th, td {
  border: 1px solid black;
}

caption {
  text-transform: uppercase;
  font-weight: bold;
}

th {
  font-weight: normal;
  font-style: italic;
}


/* nav.xhtml */

.nav {
  padding: 0;
}

.nav li {
  list-style-type: none;
}
